<form #templateDrivenForm="ngForm">
  <label>Name</label>
  <input id="nameControl"
         name="nameControl"
         class="form-control"
         autocomplete="off"
         pattern="^Nguyen*."
         required
         #nameControl="ngModel"
         [(ngModel)]="name" >

  <ul class="text-danger"
       *ngIf="nameControl.invalid && nameControl.dirty">
    <li *ngIf="nameControl.hasError('required')">Name is required</li>
    <li *ngIf="nameControl.hasError('pattern')">
      {{nameControl.errors.pattern.actualValue}} does not start with Nguyen
    </li>
  </ul>

  <div></div>
  <label>Age</label>
  <input class="form-control" type="number"
         [ngModelOptions]="{standalone: true}"
         [(ngModel)]="age">

  <div>
    Name: {{name}}
  </div>
  <div>
    Age: {{age}}
  </div>

  <button type="submit" (click)="handleFormSubmission(templateDrivenForm, nameControl)">
    Submit
  </button>
</form>
