<div class="row">
  <div class="col-12">

    <div *ngFor="let item of items"
         class="input-group mb-2"
         (click)="markItemAsCompleted(item)">
      <div class="form-control"
           [class.border-success]="true"
           [class.border-danger]="false">
        {{item.title}} ({{item.completed ? 'Completed' : 'Incomplete'}})
      </div>
      <div class="input-group-append">
        <button class="btn btn-danger"
                (click)="deleteTodoItem(item)">
          Remove
        </button>
      </div>
    </div>

    <div *ngFor="let item of items"
         class="input-group mb-2"
         (click)="markItemAsCompleted(item)">
      <div class="form-control"
           [class.border-success]="true"
           [class.border-danger]="false">
        {{item.title}} ({{item.completed ? 'Completed' : 'Incomplete'}})
      </div>
      <div class="input-group-append">
        <button class="btn btn-danger"
                (click)="deleteTodoItem(item)">
          Remove
        </button>
      </div>
    </div>

  </div>
</div>
